<!-- structural directive -->
<ng-container *transloco="let t">
  <h1>{{ t('main.title') }}</h1>
  <p>{{ t('main.greeting', { name: 'John' }) }}</p>
</ng-container>

<!-- language selector -->
<ng-container *transloco="let t">
<div style="display:flex; gap:1rem">
    <span>{{t('locale-switch.label')}}</span>
    <button (click)="switchLanguage('en')">{{t('locale-switch.languages.en')}}</button>
    <button (click)="switchLanguage('es')">{{t('locale-switch.languages.es')}}</button>
</div>
</ng-container>

<!-- using translate pipe -->
<h2>{{'pipe.title' | transloco}}</h2>
<p>{{'pipe.greeting' | transloco: {name: 'Jill'} }}</p>

<!-- using attribute directives -->
<h2 transloco="attribute-directive.title"></h2>
<p transloco="attribute-directive.greeting" [translocoParams]="{ name: 'Ben' }"></p>

<!-- translations with ICU syntax: pluralization -->
<ng-container *transloco="let t">
  <h2>{{ t('icu.title') }}</h2>

  <p>{{ t('icu.pluralization', {count: 0}) }}</p>
  <p>{{ t('icu.pluralization', {count: 1}) }}</p>
  <p>{{ t('icu.pluralization', {count: 10}) }}</p>

  <p>{{ t('icu.select', {flavor: 'vanilla'}) }}</p>
  <p>{{ t('icu.select', {flavor: 'strawberry'}) }}</p>
  <p>{{ t('icu.select', {flavor: 'chocolate'}) }}</p>
</ng-container>
